h1 {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: normal;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
    text-align: center;
}

body {
    background-color: black;
}
#link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    text-underline-position: below;
}

a {
    color: aquamarine;
}

#video {
    text-align: center;
}
#tent {
    text-align: center;
}
#phone {
    text-align: center;
}
#copyright {
    text-align: right;
}