h1 {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: normal;
}

body {
    background-color: black;
}
#link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    text-underline-position: below;
}

a {
    color: aquamarine;
}